/* By RainySummer | https:/rainysummer.top | hi@rainysummer.top */

@font-face {
    font-family: "YanSong";
    src: url("font/yan.woff2") format("woff2");
}

html {
    height: 100%;
}


body {
    font-family: "YanSong", serif;
    color: black;
    background: #bc0000 url("image/background.png") no-repeat center;
    user-select: none;
    margin: auto;
    padding-left: 4%;
    padding-right: 4%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: url("image/cursor/cursor.cur"), default;
}

@media screen and (orientation: portrait) {
    body {
        background-size: cover;
    }

    #poem {
        font-size: 9vmin;
    }

    #fof {
        font-size: 20vmin;
        line-height: 50vmin;
    }
}

@media screen and (orientation: landscape) {
    body {
        background-size: contain;
    }

    #poem {
        font-size: 6vmin;
    }

    #fof {
        font-size: 14vmin;
        line-height: 34vmin;
    }
}

#content {
    text-align: center;
    align-items: center;
    font-size: 5vmin;
    color: #ffd700;
    word-break: keep-all;
}

#headline {
    margin-bottom: 5vmin;
}

#su {
    font-size: 16vmin;
}

#su ruby rt {
    font-size: 6vmin;
}

#year {
    font-size: 5vmin;
    margin: 0;
    padding: 0;
}

#star {
    background-image: url("image/star.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: url("image/cursor/hand.cur"), pointer;
}

#progress-bar {
    background-color: transparent;
    height: 0.5vmin;
}

#progress {
    background-color: #ffd700;
    height: 0.6vmin;
    width: 0;
}