/* By RainySummer | https:/lzc.app | hi@lzc.app */

@font-face {
    font-family: "YanSong";
    src: url("font/yan.woff2") format("woff2");
}

html {
    height: 100%;
}


body {
    font-family: "YanSong", serif;
    color: black;
    background: #bc0000 url("image/background.png") no-repeat center;
    user-select: none;
    margin: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: url("image/cursor/cursor.cur"), default;
}

@media screen and (orientation: portrait) {
    body {
        background-size: cover;
        padding-left: 8vw;
        padding-right: 8vw;
    }

    #poem {
        font-size: 9vmin;
    }

    #fof {
        font-size: 20vmin;
        line-height: 50vmin;
    }

    #su {
        margin-top: 6vh;
        margin-bottom: 5vh;
    }

    #yearland {
        display: none;
    }

    #yearport {
        font-size: 7.2vw;
        line-height: 6vh;
        margin-top: 3vh;
        margin-bottom: 8vh;
    }

    #star {
        font-size: 6vw;
    }

    #progress {
        height: 0.6vh;
    }
}

@media screen and (orientation: landscape) {
    body {
        background-size: contain;
        padding-left: 4%;
        padding-right: 4%;
    }

    #poem {
        font-size: 6vmin;
    }

    #fof {
        font-size: 14vmin;
        line-height: 34vmin;
    }

    #su {
        margin-top: 4vh;
        margin-bottom: 2vh;
    }

    #yearport {
        display: none;
    }

    #yearland {
        font-size: 5vmin;
    }

    #star {
        font-size: 4.2vmin;
    }

    #progress {
        height: 0.8vh;
    }
}

#content {
    text-align: center;
    align-items: center;
    font-size: 4.8vmin;
    color: #ffd700;
    word-break: keep-all;
}

#headline {
    margin-top: -5vmin;
    margin-bottom: 5vmin;
}

#su {
    font-size: 16vmin;
}

#su ruby rt {
    font-size: 6vmin;
}

#star {
    background-image: url("image/star.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: url("image/cursor/hand.cur"), pointer;
}

#progress-bar {
    background-color: transparent;
    height: 0.5vmin;
}

#progress {
    background-color: #ffd700;
    width: 0;
}