/* By RainySummer | https:/rainysummer.top | hi@rainysummer.top */

@font-face {
    font-family: "YanSong";
    src: url("font/yan.woff2") format("woff2");
}

html {
    height: 100%;
}


body {
    font-family: 'Noto Sans JP', sans-serif;
    color: black;
    background: #bc0000 url("image/background.png") no-repeat center;
    user-select: none;
    margin: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: url("image/cursor.png"), default;
}

@media screen and (orientation: portrait) {
    body {
        background-size: cover;
    }
}

@media screen and (orientation: landscape) {
    body {
        background-size: contain;
    }
}

#content {
    text-align: center;
    font-family: "YanSong", serif;
    font-size: 5vmin;
    color: #ffd700;
    word-break: keep-all;
}

#su {
    font-size: 16vmin;
}

#year {
    font-size: 5vmin;
    word-break: keep-all;
}