@font-face {
    font-family: "Heiti";
    src: url("FZDHTJW.woff") format("woff");
}

html {
    height: 100%;
    background-color: #FFE7D6;
}

body {
    color: #DF0012;
    font-family: 'Heiti', sans-serif;
    user-select: none;
    margin: auto;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

@media screen and (orientation: portrait) {
    #bainian {
        width: 95vw;
        margin-bottom: 2vmin;
    }

    #word {
        margin-top: 2vmin;
        width: 85vw;
        margin-bottom: 2vmin;
    }

    #body {
        font-size: 6.8vw;
        /*margin-bottom: 20vmin;*/
        line-height: 18vmin;
    }

    #day {
        font-size: 12vmin;
    }

    #player {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

@media screen and (orientation: landscape) {
    #bainian {
        width: 30vw;
        margin-bottom: 0;
    }

    #word {
        width: 30vw;
        margin-bottom: 0;
    }

    #body {
        font-size: 2vw;
        line-height: 9vmin;
    }

    #day {
        font-size: 3vw;
    }

    #player {
        margin-left: 3.2vw;
        margin-right: 3vw;
    }
}

#body {
    text-align: center;
}

a:link, a:visited, a:active {
    color: #DF0012;
}

a:hover {
    color: #DF0012;
    text-decoration: none;
}