@font-face {
    font-family: "Heiti";
    src: url("ht.woff") format("woff");
}

html {
    height: 100%;
    background-color: white;
}

body {
    color: #DF0012;
    font-family: 'Heiti', sans-serif;
    user-select: none;
    margin: auto;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

@media screen and (orientation: portrait) {
    #bainian {
        width: 90vmin;
        margin-bottom: 2vmin;
    }

    #danghui {
        width: 5.5vw;
        margin-right: 0.5vw;
    }

    #email {
        font-size: 6.5vmin;
        margin-bottom: 15vmin;
        line-height: 18vmin;
    }
}

@media screen and (orientation: landscape) {
    #bainian {
        width: 30vw;
        margin-bottom: 2vmin;
    }

    #danghui {
        width: 1.4vw;
        margin-right: 0.3vw;
    }

    #email {
        font-size: 1.8vw;
        letter-spacing: 0.3vmin;
        margin-top: 3vmin;
        margin-bottom: 10vmin;
        line-height: 9vmin;
    }
}

#email {
    text-align: center;
    font-weight: bolder;
}

#at {
    margin-right: 0.6vmin;
}

#list {
    text-align: center;
}

a:link, a:visited, a:hover, a:active {
    color: #DF0012;
    text-decoration: none;
}