/* Originally create by Kiryu | https://www.kiryu.it | mail@nekomimi.it */
/* Revised by RainySummer | https:/rainysummer.top | hi@rainysummer.top */

html {
    height: 100%;
    background-color: white;
}

body {
    color: #DD0000;
    font-family: sans-serif;
    user-select: none;
    margin: auto;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

@media screen and (orientation: portrait) {
    #container img {
        width: 80vmin;
        margin-bottom: 2vmin;
    }

    #email {
        font-size: 8vmin;
        margin-bottom: 15vmin;
        line-height: 18vmin;
    }
}

@media screen and (orientation: landscape) {
    #container img {
        width: 60vmin;
        margin-bottom: 2vmin;
    }

    #email {
        font-size: 4vmin;
        letter-spacing: 0.3vmin;
        margin-top: 3vmin;
        margin-bottom: 10vmin;
        line-height: 9vmin;
    }
}

#email {
    text-align: center;
    font-weight: bold;
}

#at {
    margin-right: 0.6vmin;
}

#list {
    text-align: center;
}

a:link, a:visited, a:hover, a:active {
    color: #D00;
}